@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@300;400;500;700&display=swap');

:root {
    /* Custom Color Variables */
    --background-black: #080908ff;
    /* Darkest shade, used as the background for the page */

    --background-quiet-white: #1e1d22;
    /* Slight shade, used as the background for containers on the page */

    --heading-black: #17161Dff;
    /* Brighter shade of black, used for text headings */

    --element-blue: #2DC0D3ff;
    /* Bluish shade, used as the background for elements */

    --text-lighter-black: #706f74;
    /* Lighter shade of black, used for other text elements */

    --brighter-red: #FF4646ff;
    /* Brighter shade of red, used as a background color */

    --darkest-red: #C43A3Bff;
    /* Darkest shade of red, used for text or other elements */

    --white: #fff;

    --inactive-icon: #434347;

}

*,
html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    height: 100%;
    background-color: var(--background-black);
    color: black;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-row-span-2 {
    grid-row: span 2;
}

.main-grid {
    display: grid;
    gap: 3rem;
    color: white;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-areas: 'friends search-menu search-menu profile-menu'
        'friends posts posts friends-req'
        'groups posts posts settings';
    padding-block: 2rem;
    width: min(95%, 90rem);
    margin-inline: auto;
}

.grid-col-span-2 {
    grid-column: span 2;
}

.grid-col-span-2 {
    grid-row: span 2;
}


.grid-element:nth-child(1) {
    grid-area: friends;
}

.grid-element:nth-child(2) {
    grid-area: groups;
}

.grid-element:nth-child(3) {
    grid-area: search-menu;
}

.grid-element:nth-child(4) {
    grid-area: posts;
}

.grid-element:nth-child(5) {
    grid-area: profile-menu;
}

.grid-element:nth-child(6) {
    grid-area: friends-req;
}

.grid-element:nth-child(7) {
    grid-area: settings;
}

.container-heading {
    padding: 0px 28px;
    padding-top: 16px;
    align-self: flex-start;
}

.friends {
    /* border: 2px solid white; */
    background-color: var(--background-quiet-white);
    border-radius: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.friend {
    display: flex;
    justify-content: space-between;
    width: 278px;
    /* border: 1px solid cyan; */
    padding: 10px 15px;
    margin: 8px 5px;
    gap: 15px;
}

.friend .name-id-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px 5px 7px;
    /* text-align: left; */
    width: 128px;
}

.friend .name-id-container .name {
    font-size: 0.82rem;
    font-weight: 900;
}

.friend .name-id-container .friend-id {
    color: var(--text-lighter-black);
    font-size: 0.75rem;
    padding-top: 5px;
}


.friend .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.friend .profile-pic-container img {
    border-radius: 50%;
    width: 50px;
}


.groups {
    /* border: 2px solid white; */
    background-color: var(--background-quiet-white);
    border-radius: 15px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 278px;
}

.group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    /* border: 1px solid cyan; */
    padding: 10px 15px;
    margin: 10px 5px;
}

.group .name-members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 15px 15px 5px;
    /* text-align: left; */
}

.group .name-members-container .name {
    font-size: 0.82rem;
    font-weight: 900;
}

.group .name-members-container .members {
    color: var(--text-lighter-black);
    font-size: 0.75rem;
    padding-top: 5px;
}


.group .more-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.group .profile-pic-container img {
    border-radius: 50%;
    width: 50px;
}

.show-more-button {
    cursor: pointer;
    color: var(--white);
    background-color: var(--element-blue);
    border-radius: 15px;
    width: fit-content;
    padding: 15px 65px;
    margin: 25px 15px;
}

.search-menu {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 50px;
    flex-wrap: wrap;
}

.search-menu .search .input-wrapper form {
    margin: 0px 5px;
    position: relative;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: var(--background-quiet-white);
    width: 200px;

}

.search-menu .search .input-wrapper form i {
    font: 10px;
    padding-right: 20px;
    opacity: 0.7;
}

.search-menu .search .input-wrapper input {
    flex: 1;
    height: 36px;
    padding: 15px;
    color: var(--white);
    background-color: var(--background-quiet-white);
    border: none;
    font-size: 15px;
    width: 160px;
    text-overflow: ellipsis;
}

.search-menu .search .input-wrapper input:focus {
    outline: none;
}

.active-icon {
    color: var(--element-blue) !important;
}



.search-menu .menu .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-quiet-white);
    padding: 26px 0px;
    margin: 0px 5px;
    border-radius: 15px;
    height: 56px;
    width: fit-content;

}


.search-menu .menu .icon-wrapper ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 50px;
    padding: 0px 25px;
}

.search-menu .menu .icon-wrapper ul li a i {
    color: var(--inactive-icon);
}
